@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,600;1,100;1,400&amp;display=swap");

:root {

    --font-base: "IBM Plex Sans", sans-serif;

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #000000;
    --lightGray-color: #afafaf;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}